#customers {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px; /* Giảm kích thước bảng,thay bằng giá trị cố định 600px */
    margin: 0 auto; /* Căn giữa bảng */
    border-collapse: collapse;
}

#customers td, #customers th {
    font-size: 0.9em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#customers th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#customers tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
